body {
  font: 14px Helvetica;
  background: #999999;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  /* all blocks are placed in a row direction, but in mobile layout, each is
  full-length across main direction, so they will wrap (see in column) */
  flex-flow: row wrap;
}

header {
  background-color: #FF8000;
  color: white;
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 20%;
  align-items: center;
}

article{
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
}

/* Bloque clases */

.articulo {
  background-color: #CEF6CE;
  color:black;
  flex-basis: 20%;
  margin: 5px;
}

.articulo:hover{
  background-color: #FE9A2E;
}

.imgVP{
  width: 178px ;
  height: 180px ;

}

.logo img{
  height:60%;
  width:60%;
  flex-basis: 30%;
  order 1;
}

.b-redondo{
  /* Bordes redondeados */
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  /* Fin bordes redondeados */
}

.b-header{
  height: 30px;
  width: 100px;
  background-color: white;
  margin-left: 7px;
  margin-right: 7px;
}

.b-header-busqueda{
  margin-right: 20%;
  margin-left: 20%;
  width: 350px;
  height: 30px;
}

.b-header:hover{
  background-color: #F7BE81;
}


/* Bloque ids */


#maincontent {
  background-color: #FFFFFF;
  order: 2;
}

footer {
  background-color: black;
  color: white;
}

footer {
  order: 4;
}

/* mobile layout: single colum, all items occupy the entire row, so wrap */
#maincontent, footer {
  flex-basis: 100%;
}


/* Small devices (tablets, 768px and up) */
/* container width: 750 */
@media (min-width: 768px) {
 body {
   width: 750px;
   background-color: red;
 }
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
 body {
   width: 970px;
   background-color: yellow;
 }

 /* article and nav will share the same row */


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
 body {
   width: 1170px;
   background-color: green;
 }

 /* article, nav and aside will share the same row */

}
