<!DOCTYPE html>
<html lang="es">
  <head>
    <title>TRAEPAKÁ</title>
      <meta http-equiv="Content-Type" content="text/HTML; charset=utf8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/mediaQuerisMax.css">
      <script src="../js/nav.js"></script>
  </head>
  <body>
       <header>
         <ul class="topnav" id="myTopnav">
            <li class="header_logo"><img src="../img/logo.png"/></li>
            <li class="header_busqueda">
              <form class="b-header-busqueda">
                <input class="b-redondo b-header-busqueda" placeholder="Busca tu producto..." type="text">
              </form>
            </li>
            <li class="header_botones b-anadir">
              <img src="../img/anadir.png"/>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Chat </button>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Mi perfil</button>
            </li>
            <li>
              <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
            </li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
       </header>

   <article id="maincontentChat">

    <div class="chat">
      <div class="conversacion">
        <div class="mensajes">
          <div class="mensajeEnviado">
            <p>Hola me interesa el producto</p>
          </div>
          <div class="mensajeRecibido">
            <p>Cuando quieras quedamos y te lo doy</p>
          </div>
        </div>
        <div class="enviar">
          <form>
            <input type="text" id="texto" placeholder="Enviar..."></input>
            <input type="submit" value="Enviar!">
          </form>
        </div>
      </div>
      <div class="producto">
        <div class="imagen">
          <img class="imageChat" src="../img/play4.jpg">
        </div>
        <div class= "descripcion">
         Playstation 4.
        </div>
        <div class= "precio">
         400€
        </div>
      </div>
    </div>
   </article>
   <footer>Copyright (c) 2016 Copyright Holder All Rights Reserved.</footer>
  </body>
</html>
