<!DOCTYPE html>
<html lang="es">
<head>
  <title>TRAEPAKÁ</title>
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/mediaQuerisMax.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="../js/nav.js"></script>
</head>
  <body>


       <header>

         <ul class="topnav" id="myTopnav">
            <li class="header_logo"><img src="../img/logo.png"/></li>
            <li class="header_busqueda">
              <form class="b-header-busqueda">
                <input class="b-redondo b-header-busqueda" placeholder="Busca tu producto..." type="text">
              </form>
            </li>

            <li class="header_botones b-anadir">
              <img src="../img/anadir.png"/>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Chat </button>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Mi perfil</button>
            </li>
            <li>
              <i class="about fa fa-question-circle fa-2x" aria-hidden="true"></i>
            </li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
       </header>

      <div class="col-md-2"></div>
   <div class="row col-md-8 col-sm-12 col-xs-12">
     <div class="listadoChats">
       <div class="chatLista">
         <div class="imagenPerfil">
           <div class="notificacion"><span>2</span></div>
           <img src="../img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>me parece bien</p>
           </div>
           <div class="horaMensaje">
             <p>(Dom, 23:55)</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>
         <div class="imagenListaDer">
           <img src="../img/bicicleta.jpg">
         </div>
       </div>
       <div class="chatLista">
         <div class="imagenListaIzq">
           <img src="../img/nintendoDs.jpg">
         </div>
         <div class="imagenPerfil">
           <img src="../img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>ok</p>
           </div>
           <div class="horaMensaje">
             <p>(Dom, 23:55)</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>

       </div>
       <div class="chatLista">
         <div class="imagenPerfil">
           <div class="notificacion"><span>1</span></div>
           <img src="..//img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>nos vemos mañana</p>
           </div>
           <div class="horaMensaje">
             <p>(Dom, 23:55)</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>
         <div class="imagenListaDer">
           <img src="..//img/play4.jpg">
         </div>
       </div>
     </div>
   </div>
   <footer>Copyright (c) 2016 Copyright Holder All Rights Reserved.</footer>

  </body>
</html>
