<!DOCTYPE html>
<html lang="es">
<head>
  <title>TRAEPAKÁ</title>
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../Resources/css/style.css">
    <link rel="stylesheet" href="../Resources/css/nav.css">
    <link rel="stylesheet" href="../Resources/css/mediaQuerisMax.css">
    <script src="../Resources/js/nav.js"></script>
</head>
  <body>


       <header>

         <ul class="topnav" id="myTopnav">
            <li class="header_logo"><img src="../Resources/img/logo.png"/></li>
            <li class="header_busqueda">
              <form class="b-header-busqueda">
                <input class="b-redondo b-header-busqueda" placeholder="Busca tu producto..." type="text">
              </form>
            </li>

            <li class="header_botones">
              <img src="../Resources/img/anadir.png"/>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Chat </button>
            </li>
            <li class="header_botones">
              <button class="b-redondo b-header" type="button" name="button"> Mi perfil</button>
            </li>
            <li>
              <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
            </li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
       </header>

   <article id="maincontentLista">
     <div class="listadoChats">
       <div class="chatLista">
         <div class="imagenPerfil">
           <img src="../Resources/img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>vale me parece bien</p>
           </div>
           <div class="horaMensaje">
             <p>domingo, 8:35</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>
         <div class="imagenListaDer">
           <img src="../Resources/img/bicicleta.jpg">
         </div>
       </div>
       <div class="chatLista">
         <div class="imagenListaIzq">
           <img src="../Resources/img/nintendoDs.jpg">
         </div>
         <div class="imagenPerfil">
           <img src="../Resources/img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>vale me parece bien</p>
           </div>
           <div class="horaMensaje">
             <p>domingo, 8:35</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>

       </div>
       <div class="chatLista">
         <div class="imagenPerfil">
           <img src="../Resources//img/perfil.png">
         </div>
         <div class="vistaPreliminarChat">
           <div class="ultimoMensaje">
             <p>vale me parece bien</p>
           </div>
           <div class="horaMensaje">
             <p>domingo, 8:35</p>
           </div>
           <div class="opcionesChat">
             <button class="b-redondo b-borrar" type="button" name="button"> Borrar Chat </button>
           </div>
         </div>
         <div class="imagenListaDer">
           <img src="../Resources//img/bicicleta.jpg">
         </div>
       </div>
     </div>
   </article>
   <footer>Copyright (c) 2016 Copyright Holder All Rights Reserved.</footer>

  </body>
</html>
