<!DOCTYPE html>
<html lang="es">
  <head>
    <title>TRAEPAKÁ</title>

    <meta http-equiv="Content-Type" content="text/HTML; charset=utf8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../mediaQuerisMax.css">

          <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="style.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <script src="../js/nav.js"></script>
  </head>
  <body>

   <header>


     <ul class="topnav" id="myTopnav">
        <li class="header_logo"><img src="../img/logo.png"/></li>

        <li class="header_busqueda">
          <form class="b-header-busqueda">
            <input class="b-redondo b-header-busqueda" placeholder="Busca tu producto..." type="text">
          </form>
        </li>

        <li class="header_botones b-anadir">
          <img src="../img/anadir.png"/>
        </li>
        <li class="header_botones">
          <button class="b-redondo b-header" type="button" name="button"> Chat </button>
        </li>
        <li class="header_botones">
          <button class="b-redondo b-header" type="button" name="button"> Mi perfil</button>
        </li>
        <li>
          <i class="about fa fa-question-circle fa-2x" aria-hidden="true"></i>
        </li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
    </ul>

   </header>


     <div class="container-fluid">
   <div class="row">
    <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
       <div class="articuloContent">
         <p>Bruno Álvarez</p>
         <img class="imgVP" src="../img/play4.jpg">
         <div class= "precio">
          400€
         </div>
         <div class= "descripcion">
          Playstation 4.
         </div>
         <button class="btn btn-success btn-block">
           <i class="fa fa-comment" aria-hidden="true"></i>
            ¡ Iniciar chat !
         </button>
       </div>
    </div>

    <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
       <div class="articuloContent">
         <p>María Pérez</p>

         <img class="imgVP" src="../img/bicicleta.jpg">

         <div class= "precio">
          600€
         </div>
         <div class= "descripcion">
          Bicicleta de competición.
         </div>
         <button class="btn btn-success btn-block">
           <i class="fa fa-comment" aria-hidden="true"></i>  ¡ Iniciar chat !
         </button>
       </div>
    </div>

    <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
       <div class="articuloContent">
         <p>Miguel Óscar</p>

         <img class="imgVP" src="../img/libro.jpg">
         <div class= "precio">
          5€
         </div>
         <div class= "descripcion">
          Libro de William Shakespeare, Hamlet.
         </div>
         <button class="btn btn-success btn-block">
            <i class="fa fa-comment" aria-hidden="true"></i>  ¡ Iniciar chat !
         </button>
       </div>
    </div>

    <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
       <div class="articuloContent">
         <p>Germán Veras</p>

         <img class="imgVP" src="../img/chaqueta.jpg">


         <div class= "precio">
          70€
         </div>
         <div class= "descripcion">
          Chaqueta de marca Carharrt.
         </div>
         <button class="btn btn-success btn-block">
            <i class="fa fa-comment" aria-hidden="true"></i>  ¡ Iniciar chat !
         </button>
       </div>
    </div>
<div class="clearfix visible-lg-block"></div>

     <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
        <div class="articuloContent">
          <p>Oscar Campos</p>


          <img class="imgVP" src="../img/nintendoDs.jpg">


          <div class= "precio">
          150€
         </div>
         <div class= "descripcion">
          Nintendo 3ds.
         </div>
          <button class="btn btn-success btn-block">
            <i class="fa fa-comment" aria-hidden="true"></i>  ¡ Iniciar chat !
         </button>
        </div>
     </div>

     <div class="articulo col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-3">
        <div class="articuloContent">
          <p clas>Teresa Martínez</p>


          <img class="imgVP" src="../img/juegosPlay.jpg">


          <div class= "precio">
          200€
         </div>
         <div class= "descripcion">
          Pack de juegos Playstation 4.
         </div>
          <button class="btn btn-success btn-block">
            <i class="fa fa-comment" aria-hidden="true"></i>  ¡ Iniciar chat !
         </button>
        </div>
     </div>
</div>
</div>
   <footer>Copyright</footer>
  </body>
</html>
